<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>FirstRoutedApp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
<h1>Angular Router</h1>
<nav>
  <a routerLink="/about" routerLinkActive="active">about</a> |
  <a routerLink="/search" routerLinkActive="active">search</a>
</nav>
<!--qui è dove angular sostituirà i componenti richiamati dal routing-->
<router-outlet></router-outlet>
</body>

